.slider {
  position: relative;
  width: 100%;
  // display: flex;
  // flex-wrap: nowrap;
  // overflow: hidden;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  &.img-slide {
    opacity: 0;
    transition: ease-in-out 0.7s;
  }
  &.img-animate {
    opacity: 1;
  }
  height: 90vh;
  img {
    width: 100%;
    height: 90vh;
  }
  .dots-slide {
    position: absolute;
    bottom: 5%;
    right: 40%;
  }
}
